form{
  fieldset{
    border: none;
  }
  input, 
  textarea,
  select {
  	outline: none;
  	box-sizing: border-box;
  	width: 100%;
  	background: $light-background;
  	margin-bottom: 4%;
  	border: 1px solid #ccc;
  	padding: 3%;
  	color: #555;
  	font: 95% Arial, Helvetica, sans-serif;
  	&:focus, &:active{
      padding: 3%;
      border: 1px solid red;
  	}
  	
  	.dark-theme &{
      background: $dark-background;
    }
  }
}

