form#search {
    margin: 3em auto;

	input {
        padding: 0.5em;
        margin: 0.5em;
    }
}


div.content {

    ul#results {
        list-style-type: none;
        text-align: left;
        margin: 0 3em;

        li {
            margin-bottom: 3em;
        }
    }
}