{{ if and .Site.Params.staticman (not (or .Site.Params.disable_comments .Params.disable_comments)) }}
    <section id="comments">
        {{ if .Site.Params.staticman }}
            <h2 class="comment-title"><a href="#comments">Comments</a></h2>
            <section class="post-comments">
                {{ $comments := readDir "data/comments" }}
                {{ $.Scratch.Add "hasComments" 0 }}
                {{ $postSlug := replace .File.Dir "posts/" "" }}
                {{ $postSlug := replace $postSlug "/" "" }}
        
                {{ range $comments }}
                {{ if in $postSlug .Name }}
                    {{ $.Scratch.Add "hasComments" 1 }}
                    {{ range $index, $comments := (index $.Site.Data.comments $postSlug ) }}
                        
                    {{ if not .reply_to }}
                    
                        <div id="commentid-{{ ._id }}" class="post-comment">

                            <div class="post-comment-permalink-wrapper">
                                <div class="post-comment-permalink" tabindex="1">
                                    <div class="post-comment-permalink-dropdown">
                                        <a href="#commentid-{{ ._id }}" title="Permalink to this comment">Permalink to comment</a>
                                    </div>
                                    <div class="post-comment-dots">
                                        <div class="post-comment-dot"></div>
                                        <div class="post-comment-dot"></div>
                                        <div class="post-comment-dot"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="post-comment-header">
                                <div class="post-comment-avatar-wrapper">
                                    {{ if eq .email "ba9aea05fec978920e463180dcf103a6" }}
                                        <img class="post-comment-avatar-pic avatar-pic-admin" src="https://www.gravatar.com/avatar/{{ .email }}?s=70&r=pg&d=identicon">
                                        <div class="post-comment-avatar-text">
                                            <code>ADMIN</code>
                                        </div>
                                    {{ else }}
                                        <img class="post-comment-avatar-pic" src="https://www.gravatar.com/avatar/{{ .email }}?s=70&r=pg&d=identicon">
                                        <div class="post-comment-avatar-text">
                                            <code>GUEST</code>
                                        </div>
                                    {{ end }}
                                </div>

                                <div class="post-comment-info">
                                    <div class="post-comment-author">
                                        <span>{{ .name }}</span>
                                    </div>
                                    <div class="post-comment-date">
                                        <time>{{ dateFormat "Monday, Jan 2, 2006 at 15:04 MST" .date }}</time>
                                    </div>
                                </div>
                            </div>

                            <div class="post-comment-message">
                                {{ .comment | markdownify }}
                            </div>

                            <div class="post-comment-footer">
                                <div class="post-comment-reply_btn">
                                    <button id="{{ ._id }}" class="btn-info comment-buttons" href="#comment-form" onclick="changeValue('fields[reply_to]', '{{ ._id }}')">Reply to {{ .name }}</button>
                                </div>
                            </div>

                        </div>
                        
                        {{ partial "comment-replies" (dict "entryId_parent" $postSlug "SiteDataComments_parent" $.Site.Data.comments "parentId" ._id "parentName" .name     "context" .) }}
                        
                    {{ end }}
                {{ end }}
        {{ end }}
{{ end }}

        <form id="comment-form" class="post-comment-form" onsubmit="event.preventDefault();">
            {{ if eq ($.Scratch.Get "hasComments") 0 }}
                <p>Be the first to leave a comment! 🎉</p>
            {{ end }}
            <h3 class="prompt">Leave a comment</h3>
            <input type="hidden" name="options[redirect]" value="{{ .Permalink }}#comment-submitted">
            <input type="hidden" name="options[slug]" value="{{ .File.BaseFileName }}">
            <input type="text" name="fields[name]" class="post-comment-field" placeholder="Name *" required/>
            <input type="email" name="fields[email]" class="post-comment-field" placeholder="Email address (will not be public) *" required/>
            <input type="hidden" id="comment-parent" name="fields[reply_to]" value="">
            <textarea name="fields[comment]" class="post-comment-field" placeholder="Comment (markdown is accepted) *" required rows="10"></textarea>
            <input type="hidden" name="options[reCaptcha][siteKey]" value="{{ .Site.Params.reCaptchaSiteKey }}">
            <input type="hidden" name="options[reCaptcha][secret]" value="{{ .Site.Params.reCaptchaEncryptedSecretKey }}">
            <div class="g-recaptcha" style="margin: 0 auto;" data-sitekey="{{ .Site.Params.reCaptchaSiteKey }}" data-callback="validateCommentCaptcha"></div>
            <input id="comment-btn" type="submit" class="post-comment-field btn btn-primary comment-buttons" disabled="disabled" aria-disabled="true" onclick="submitComment();" value="Submit">
            <noscript>Your browser does not support JavaScript! You can't submit a comment.</noscript>
        </form>
    </section>

    <div id="comment-submitted" class="post-comment-dialog">
        <p><strong>Thank You!</strong></p>
        <p>Your comment has been submitted and will be published shortly. &#128522;</p>

        <p><strong><a href="#comments" onclick="document.getElementById('comment-submitted').style.animationName='fadeOutCommentsDiag';" class="btn btn-primary comment-buttons ok">Ok</a></strong></p>
    </div>

    {{ end }}
</section>
{{ end }}