{{ range $index, $comments := (index $.SiteDataComments_parent $.entryId_parent ) }}
  {{ if eq .reply_to $.parentId }}

    <div id="commentid-{{ ._id }}" class="post-comment post-comment-reply">
        <div class="post-comment-permalink-wrapper">
            <div class="post-comment-permalink" tabindex="1">
                <div class="post-comment-permalink-dropdown">
                    <a href="#commentid-{{ ._id }}" title="Permalink to this comment">Permalink to comment</a>
                </div>
                <div class="post-comment-dots">
                    <div class="post-comment-dot"></div>
                    <div class="post-comment-dot"></div>
                    <div class="post-comment-dot"></div>
                </div>
            </div>
        </div>

        <div class="post-comment-header post-comment-indent">
            <div class="post-comment-avatar-wrapper">
                {{ if eq .email "ba9aea05fec978920e463180dcf103a6" }}
                    <img class="post-comment-avatar-pic avatar-pic-admin" src="https://www.gravatar.com/avatar/{{ .email }}?s=70&r=pg&d=identicon">
                    <div class="post-comment-avatar-text">
                        <code>ADMIN</code>
                    </div>
                {{ else }}
                    <img class="post-comment-avatar-pic" src="https://www.gravatar.com/avatar/{{ .email }}?s=70&r=pg&d=identicon">
                    <div class="post-comment-avatar-text">
                        <code>GUEST</code>
                    </div>
                {{ end }}
            </div>

            <div class="post-comment-info">
                <div class="post-comment-author">
                    <span class="post-comment-author-reply-new">{{ .name }}</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentcolor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 8a.5.5.0 01.5-.5h11.793l-3.147-3.146a.5.5.0 01.708-.708l4 4a.5.5.0 010 .708l-4 4a.5.5.0 01-.708-.708L13.293 8.5H1.5A.5.5.0 011 8z"></path>
                    </svg>
                    <a href="#commentid-{{ $.parentId }}" title="Permalink to this comment"><span class="post-comment-author-reply-previous">{{ $.parentName }}</span></a>
                </div>
                <div class="post-comment-date">
                    <time>{{ dateFormat "Monday, Jan 2, 2006 at 15:04 MST" .date }}</time>
                </div>
            </div>
        </div>

        <div class="post-comment-message post-comment-indent">
            {{ .comment | markdownify }}
        </div>

        <div class="post-comment-footer">
            <div class="post-comment-reply_btn">
                <button id="{{ ._id }}" class="btn-info comment-buttons" href="#comment-form" onclick="changeValue('fields[reply_to]', '{{ $.parentId }}')">Reply to thread</button>
            </div>
        </div>

    </div>
  {{ end }}
{{ end }}