{{ if and (not $.Site.Params.DisableReadOtherPosts) (or .NextInSection .PrevInSection) }}
    <div class="pagination">
        <div class="pagination__title">
            <span class="pagination__title-h">{{ .Site.Params.ReadOtherPosts }}</span>
            <hr />
        </div>

        {{ $related := .Site.RegularPages.Related . | first 4 }}

        {{ if eq (len $related) 0 }}
            <div class="pagination__buttons">
                {{ if .NextInSection }}
                <span class="button previous">
                    <a href="{{ .NextInSection.Permalink }}">
                        <span class="button__icon">←</span>
                        <span class="button__text">{{ .NextInSection.Title }}</span>
                    </a>
                </span>
                {{ end }}

                {{ if .PrevInSection }}
                <span class="button next">
                    <a href="{{ .PrevInSection.Permalink }}">
                        <span class="button__text">{{ .PrevInSection.Title }}</span>
                        <span class="button__icon">→</span>
                    </a>
                </span>
                {{ end }}
            </div>
        {{ else }}
            {{ with $related }}
            <!-- <h3>See Also</h3> -->
                <div class="posts-related-container">
                    {{ range . }}
                        <a href="{{ .RelPermalink }}">
                            <div class="post-related">
                                <div class="post-related-date">{{ .Date.Format "Jan 2, 2006" }}</div>
                                <div class="post-related-title">{{ .Title }}</div>
                                <div class="post-related-cover">
                                    {{ with .Resources }}
                                        {{ with .GetMatch "{cover.*,*.jpg,*.png,*.jpeg}" }}
                                            {{ $cover := .Resize "600x" }}
                                            {{ with $cover }}
                                                <img src="{{ .Permalink }}"/>
                                            {{ end }}
                                        {{ end }}
                                    {{ end }}
                                </div>
                            </div>
                        </a>
                    {{ end }}
                </div>
            {{ end }}
        {{ end }}
    </div>
{{ end }}