{{ define "body" }}
    <body class="{{ if .Site.Params.backgroundImage }} background-image" style="background-image: url('{{ .Site.Params.backgroundImage }}');" {{ else }}"{{ end }}>
{{ end }}

{{ define "main" }}
    <main aria-role="main">
        <div>
            <h1>
                {{ if .Site.Params.Portrait.Path }}
                    <picture>
                        <source srcset="{{ .Site.Params.Portrait.Path }}" media="(prefers-color-scheme:dark)"  style="max-width:{{ .Site.Params.Portrait.MaxWidth }}" class="responsive" id="logo-main">
                        <img src="{{ .Site.Params.Portrait.Alt }}" style="max-width:{{ .Site.Params.Portrait.MaxWidth }}" class="responsive" id="logo-main">
                      </picture>
                    {{ end }}
            </h1>
            <!--
            <h1>{{ .Site.Title }}</h1>
            {{- with .Site.Params.homeSubtitle }}
                <p>{{.}}</p>
            {{- end }}
            --> 

             <!--{{ partial "subtitle.html" . }}-->


            {{- with .Site.Params.social }}
                <div>
                    {{ partial "social-icons.html" . }}
                </div>
            {{- end }}
        </div>
    </main>
{{ end }}
